<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>

<body>

    <h1>
        {{ title }}
    </h1>

    <p>
        {{ message }}
    </p>

    <hr>

    <h2>
        Modules
    </h2>

    <ul>

        <li>
            <a href="/patients/">
                Patients
            </a>
        </li>

        <li>
            <a href="/specialists/">
                Specialists
            </a>
        </li>

        <li>
            <a href="/specialties/">
                Specialties
            </a>
        </li>

        <li>
            <a href="/appointments/">
                Appointments
            </a>
        </li>

        <li>
            <a href="/payments/">
                Payments
            </a>
        </li>

        <li>
            <a href="/procedures/">
                Procedures
            </a>
        </li>

        <li>
            <a href="/budgets/">
                Budgets
            </a>
        </li>

        <li>
            <a href="/medical-records/">
                Medical Records
            </a>
        </li>

        <li>
            <a href="/suggested-treatments/">
                Suggested Treatments
            </a>
        </li>

        <li>
            <a href="/budget-details/">
                Budget Details
            </a>
        </li>

    </ul>

</body>

</html>